<div class="center">
    <mat-card>
        <h2>Antwoorden toevoegen</h2>
        <form [formGroup]="antwoordForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Antwoord" type="text" formControlName="antwoord" />
            </mat-form-field>
            <p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!antwoordForm.valid || submitted">
                    <mat-icon>add</mat-icon> Voeg antwoord toe
                </button>
            </p>
            <mat-list role="list" class="center">
                <mat-list-item role="listitem" *ngFor="let antwoord of (antwoorden | async)">
                    {{antwoord.antwoord}}
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </form>
        <p>
            <button mat-raised-button color="primary" (click)="toevoegenPollGebruikers()">
                <mat-icon>person_add</mat-icon> Voeg vrienden toe
            </button>
        </p>
    </mat-card>
</div>