<div class="center">
    <mat-card>
        <h2>Voeg vrienden toe</h2>
        <form [formGroup]="meldingForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="vriendID" type="text" formControlName="vriendID" />
            </mat-form-field>
            <p>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!meldingForm.valid || submitted">Voeg vriend toe</button>
            </p>
        </form>
    </mat-card>
</div>

<!-- <form (ngSubmit)="onSubmit()"> -->
<!-- <ul>
    <li *ngFor="let gebruiker of (gebruikers | async)">
        {{gebruiker.gebruikersnaam}}
        <button (click)="stuurVriendschapsVerzoek(gebruiker)">Voeg toe</button>
    </li>
</ul> -->
<!-- <p><input placeholder="email" type="text" [(ngModel)]="model.email" name="email" /></p> -->
<!-- <p><button color="primary" type="submit" [disabled]="submitted">Voeg toe</button></p> -->
<!-- </form> -->