<div class="center">
    <mat-card>
        <h2>Inloggen</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Gebruikersnaam" type="text" formControlName="gebruikersnaam" />
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput placeholder="Wachtwoord" type="password" autocomplete="off" formControlName="wachtwoord" />
            </mat-form-field>
            <p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || submitted">
                    <mat-icon>account_circle</mat-icon> Login
                </button>
            </p>
        </form>
    </mat-card>
</div>