<!-- <nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Startpagina</a></li>
    <li><a routerLink="/inloggen" routerLinkActive="active">Inloggen</a></li>
    <li><a routerLink="/registreren" routerLinkActive="active">Registreren</a></li>
    <li><a routerLink="/gebruikers" routerLinkActive="active">Gebruikers</a></li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div> -->


<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-menu (sidenavToggle)="sidenav.toggle()"></app-menu>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>