<div class="center">
    <mat-card>
        <h2>Poll aanmaken</h2>
        <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Naam" type="text" formControlName="naam" />
            </mat-form-field>
            <p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!pollForm.valid || submitted">Voeg
                    poll toe</button>
            </p>
        </form>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
    </mat-card>
</div>