<div class="center">
    <mat-card>
        <h2>Poll aanmaken</h2>
        <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Naam" type="text" formControlName="naam" />
            </mat-form-field>
            <p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!pollForm.valid || submitted">
                    <mat-icon>add</mat-icon> Voeg poll toe
                </button>
            </p>
        </form>
    </mat-card>
</div>