<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Startpagina</span>
    </a>
    <a mat-list-item routerLink="/inloggen" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon> <span class="nav-caption">inloggen</span>
    </a>
    <a mat-list-item routerLink="/registreren" (click)="onSidenavClose()">
        <mat-icon>person_add</mat-icon> <span class="nav-caption">Registreren</span>
    </a>
    <a mat-list-item routerLink="/gebruikers" (click)="onSidenavClose()">
        <mat-icon>people</mat-icon><span class="nav-caption">Gebruikers</span>
    </a>
</mat-nav-list>
<div>
    <img width="150" alt="Angular Logo" src="../../assets/afbeeldingen/Logo.png">
</div>
