/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.fillContent {
    height: 100%;
    width: 100%;
}

.mat-toolbar.mat-primary {
    background: #4193ad; 
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background: #4193ad; 
}